# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

# Build
build/
dist/

# Temporary
*.tmp